<div>
  <div class="trainer-structure">
    <%= link_to [:admin, trainer], title: trainer.name do %>
      <div class="profile-structure">
        <div class="avatar">
          <%= avatar_user_tag trainer, "img-circle",
            Settings.image_size_40 %></div>
        <div>
          <strong><%= t "organization_charts.trainer" %></strong><br>
          <%= trainer.name %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="subject-structure">
    <%= render "away", location: trainer.profile.location,
      trainer_id: trainer.id %>
    <% CourseSubject.load_course_subjects_for_trainer(trainer.id)
      .each do |subject| %>
      <%= render "course_subject",
        subject: Subject.find_by(name: subject.subject_name),
        course_subject_ids: CourseSubject.by_subject_name(subject.subject_name),
        trainer_id: trainer.id %>
    <% end %>
    <% temp = load_subject_by_trainee(User.by_trainer(5)) %>
    <%= render "free_trainees", trainer: trainer %>
  </div>
</div>
